* {
  margin: 0;
  /* box-sizing: border-box; */
}

body {
  display: flex;
  justify-content: center;
}

.header {
  background-color: #f55a5a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  width: 100%;
  margin-bottom: 27px;
}

.header-icon {
  height: 24px;
  padding-right: 7px;
}

.header-text {
  color: #fff;
  font-family: Inter;
  font-size: 14.461px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.585px;
}

.section-item {
  max-height: 168px;
  width: 470px;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  margin: 18px 300px;
}

.location-details {
  display: inline;
}

.image {
  height: 168px;
  border-radius: 5px;
  padding-right: 19px;
}

.country {
  color: #2b283a;
  font-family: Inter;
  font-size: 10.24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.741px;
}

.google-maps-text {
  color: #918e9b;
  font-family: Inter;
  font-size: 10.24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}

.name {
  color: #2b283a;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.date {
  color: #2b283a;
  font-family: Inter;
  font-size: 10.24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.desc {
  color: #2b283a;
  font-family: Inter;
  font-size: 10.24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 15.36px */
}
